body {
  background-color: black;
}

@media only screend and (max-width:959px) { }


img {
  position: fixed;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 300px;
  margin-top: 130px;
  z-index: 1;
  transition: 1s;
  border: 3px solid white;
}


anakutu {
  position: fixed;
  border: 4px solid white;
  width: 600px;
  height: 350px;
  padding: 25px;
  margin-top: 190px;
  background-color: white;
  margin-left: 270px;
  border-radius: 5%;
  transition: 1s;
}

anakutu:hover {
-webkit-box-shadow: 9px 10px 41px 9px rgba(110,110,110,0.85);
-moz-box-shadow: 9px 10px 41px 9px rgba(110,110,110,0.85);
box-shadow: 9px 10px 41px 9px rgba(110,110,110,0.85);
transition: 1s;
}

.anayazi {
   text-align: center;
  margin: 0 auto;
  font-family: Arial;
  transition: 1s;
}
